
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h3 class="text-center text-danger fw-bold">Nhóm 3</h3>
<h4 class="text-danger">Quản lý bán đồ ăn</h4>
<h5>Thành viên: </h5>
<h6>Lê Hoành Nhất Thống<br />
    Lê Gia Kiệt<br />
    Hồ Quang Hải<br />
    Võ Thị Kim Giàu<br />
    Đặng Hoàng Minh</h6>

